@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #0b1121; 
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Скрываем стандартный курсор на ПК */
@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}